<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Patel College</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Poppins:ital,wght@0,200;0,300;0,400;1,300;1,700&display=swap" rel="stylesheet">
    
    
    </head>
    <body>
        <section
        class="first">
        <nav class="nav">
        <a href="index.html"><img src="/static/Image/logo.png" ></a>
        <ul >
            <li> <a href="index.html">HOME </a></li>
            <li> <a href="index.html">ABOUT</a></li>
            <li> <a href="index.html">COURSE</a></li>
            <li> <a href="index.html">CONTACT</a></li>
           
      
    </nav>
    <div class="contant">
        <h1>Patel college is the best Engineering college.  </h1>
        <p>This is a great Engineering College. Best faculty and best facility is availbale there.More than three Computer lab is there.And more course and other activity include.</p>
   <a href="" class="contant1">View More</a>
    </div>
    </section>
    <section class="course"> 
        
        <h1>Availbale Course</h1>
        <p>All course is availbale</p>
        <div class="row">
        <div class="div1"><h3>Computer Science</h3><p>The full form of CSE is Computer Science Engineering. It is an engineering course that involves several computer science aspects essential for the creation of the computer system</p></div>
        <div class="div1"><h3>Mechanical Engineering</h3><p>The ME full form in Engineering stands for Master of Engineering, a postgraduate course focusing on several areas of Engineering and Technology.</p></div>
        <div class="div1"><h3>Electric Engineering</h3><p>The full form of ECE is Electronics and Communication Engineering. It is a massive branch of engineering that deals with electronic equipment. The main concern of ECE is to conduct research, design and develop electronic devices.</p></div>
    </div>
    </section>
    <section class="campus">
        <h1>Campus</h1><p>This is a great Engineering College. Best faculty and best facility is availbale there.More than three Computer lab is there.And more course and other activity include.</p>
    </section>
        
    </body>
</html>